.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.dialogsItems {
    background-color: burlywood;
    padding: 10px;
}

.messages {
    background-color: burlywood;
    padding: 10px;
}